language: go
go:
  - 1.20.3
services:
  - postgresql
  - docker

env:
  - APP_DB_USERNAME=postgres APP_DB_PASSWORD=password APP_DB_NAME=postgres

script:
  # Build go
  - go build -v ./...
  # Test the code
  - go test -v ./...