os: linux
language: go
go:
  - 1.14.x
services:
  - postgresql
  - docker

env:
  - APP_DB_USERNAME=postgres
  - APP_DB_PASSWORD=password
  - APP_DB_NAME=postgres

before_script:
  - docker compose up -d --build

script:
  # Test the code
  - go test -v