language: go
go:
  - 1.20.3
services:
  - postgresql
  
addons:
  sonarcloud:
    organization: "rambah"

env:
  - SONAR_TOKEN=38c75e79d93c9f879ab8ca7d74691d9dc36dfe7e APP_DB_USERNAME=postgres APP_DB_PASSWORD=password APP_DB_NAME=postgres

script:
  - sonar-scanner
  # Build go
  - go build -v ./...
  # Test the code
  - go test -v ./...